<?xml version="1.0" ?>
<config>
    <modules>
        <Badata_YandexExport>
            <version>0.0.1</version>
        </Badata_YandexExport>
    </modules>
    <global>
        <blocks>
            <badata_yandexexport>
                <class>Badata_YandexExport_Block</class>
            </badata_yandexexport>
        </blocks>
        <helpers>
            <badata_yandexexport>
                <class>Badata_YandexExport_Helper</class>
            </badata_yandexexport>
        </helpers>
        <models>
            <badata_yandexexport>
                <class>Badata_YandexExport_Model</class>
            </badata_yandexexport>
        </models>
    </global>
    <frontend>
        <routers>
            <badata_yandexexport>
                <use>standard</use>
                <args>
                    <module>Badata_YandexExport</module>
                    <frontName>badata_yandexexport</frontName>
                </args>
            </badata_yandexexport>
        </routers>
    </frontend>
    <admin>
        <routers>
            <badata_yandexexport>
                <use>admin</use>
                <args>
                    <module>Badata_YandexExport</module>
                    <frontName>badata_yandexexport</frontName>
                </args>
            </badata_yandexexport>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <badata_yandexexport>
                                            <title>Yandex Export</title>
                                        </badata_yandexexport>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>